
<h1><%= @beer_club.name %> <%= @beer_club.city %></h1>

<p>
Founded <%= @beer_club.founded %>
</p>


<h3>Members</h3>
<%= render 'list_confirmed', beer_club: @beer_club %>

<% ship = member_of(@beer_club, current_user) %>
<% if ship and ship.confirmed %>
	<%= render 'list_unconfirmed', beer_club: @beer_club %>
<% end %>

<% if current_user %>
	<% unless @beer_club.member(current_user) %>
		<%= form_for(@membership) do |f| %>
			<%= f.hidden_field :beer_club_id %>
			<%= f.submit value:"join the club" %>
		<% end %>
	<% else %>
		<% membership = member_of(@beer_club, current_user) %>
		<% if membership and membership.confirmed %>
			<%= form_for(@membership, method: "delete") do |f| %>
      				<%= f.hidden_field :beer_club_id %>
      				<%= f.submit value: "end the membership" %>
   			<% end %>
		<% end %>
	<% end %>
<% end %>
<br>
<%= edit_button(@beer_club) %>
<%= destroy_button(@beer_club) %>
