
<h2>
  <%= @user.username %>
	<% if admin_user(current_user) %>
		<% if not @user.frozed %>
			<span class="label label-info">frozed</span>
		<% end %>
	<% end %>
</h2>

<p>Has made <%= @user.ratings.count %> ratings. Average of the ratings <%= @user.average_rating %>.</p>

<% if @user.beer_clubs.empty? %>
	<p> Go and join a club! </p>
<% else %>
	<p> member of
  		<% @user.beer_clubs.each do |club| %>
   			<%= link_to club.name, beer_club_path(club.id), class:'btn btn-default btn-xs' %>
 		<% end %>
	</p>
<% end %>
<% if @user.favorite_style %>
	<p>Your favorite beer style is <%= @user.favorite_style.name %>. </p>
<% end %>
<% if @user.favorite_brewery %>
	<p>Your favorite brewery is <%= @user.favorite_brewery.name %>. </p>
<% end %>

<h3>Ratings</h3>
<ul>
<% @user.ratings.each do |rating| %>
	<li>
		<%= rating %> 
		<% if @user == current_user %>
			<%= link_to 'delete', rating, method: :delete, data: {confirm: 'Are you sure?' }, class:'btn btn-danger btn-xs' %>
		<% end %> 
	</li>
<% end %><br>
</ul>

<% if @user == current_user %> 
	<%= edit_and_destroy_buttons(@user) %>
	<br>
	<br>
<% end %>

<% if admin_user(current_user) && @user.frozed == true %>
	<%= link_to "froze account", iced_account_user_path(@user.id), method: :post, class: "btn btn-danger" %>
<% end %>

<% if admin_user(current_user) && @user.frozed == false || admin_user(current_user) && @user.frozed.nil? %>
	<%= link_to "free account", iced_account_user_path(@user.id), method: :post, class: "btn btn-danger" %>
<% end %>
