<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>Has made <%= @user.ratings.count %> ratings. Average of the ratings <%= @user.average_rating %>.</p>

<% @user.ratings.each do |rating| %>
	<li> <%= rating %> <%= link_to 'delete', rating, method: :delete, data: {confirm: 'Are you sure?' } %> </li>
<% end %><br>

<h2>Jäsenyydet</h2>
<% @user.memberships.each do |membership| %>
	<li> <%= membership %>
<% end %> 
<br>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
