<h2>List of ratings</h2>

<p> Number of ratings: <%= @ratings.count%> </p>

<%= render "list_rating", recent: @recent %>

<br>

<%= render "list_brewery", top_breweries: @top_breweries %>

<br>

<%= render "list_beer", top_beers: @top_beers %>

<br>

<%= render "list_user", users: @users %>

<br>

<% if current_user %>
	<%= link_to 'New Rating', new_rating_path, class:'btn btn-primary' %>
<% end %>
